/* スケルトンローディングエフェクトのスタイル */
.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 親要素の幅にフィット */
  height: 100%; /* 親要素の高さにフィット */
  background-color: #daebff; /* スケルトンのベースカラー */
  overflow: hidden;
  border-radius: 17px;
  z-index: 999;
}

.skeleton::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -150%; /* アニメーションの開始位置 */
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.726) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

/* スケルトンアニメーションの定義 */
@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
