.main {
  display: block;
  margin: auto;
  width: 90%;
}

.select_view {
  background: '#fff';
  border-radius: 7px;
  border: 1px solid rgb(161, 161, 161);
  color: var(--foreground);
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

/* スマホレスポンシブ */
@media screen and (max-width: 480px) {
  .main {
    width: 95%;
  }
}
